.user_info_title {
	width: 77%;
	height: 110px;
	margin: 48px auto 20px;
	color: #353535;
	font-size: 14px;
	text-indent: 28px;
	position: relative;
}

.user_info_title>img {
	width: 37px;
	height: 37px;
	position: absolute;
	top: -20px;
	left: -15px;
}

.sex_box {
	width: 77%;
	height: 130px;
	margin: 0 auto;
}

.sex_box>li {
	width: 115px;
	height: 115px;
	border-radius: 115px;
	background: #fff;
	float: left;
	box-shadow: 0 0 5px #ccc;
}

.sex_box>li>img {
	width: 44px;
	height: 85px;
	display: block;
	margin: 15px auto;
}

#active {
	background: #e5e5e5;
}

.user_btn {
	display: block;
	font-size: 14px;
	background: #62C3D0;
	color: #fff;
	border: none;
	margin: 20px auto;
	padding: 8px 20px;
}

.select_box {
	width: 77%;
	height: 50px;
	/*background: #f00;*/
	margin: 10px auto;
}

.sel_title {
	width: 26%;
	height: 50px;
	line-height: 50px;
	float: left;
	color: #353535;
	font-size: 15px;
	/*text-align: center;*/
	letter-spacing: 17px;
	/*background: #0f0;*/
}

.list {
	width: 55%;
	height: 30px;
	overflow: scroll;
	float: left;
	margin: 10px 0 0 0;
	/*background:#0f0;*/
	/*box-shadow: ;*/
	color: #888;
}

.list>ul {
	width: 200%;
	height: inherit;
	overflow-x: scroll;
}

.list>ul>li {
	width: 50px;
	height: 30px;
	float: left;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
}

.age_active {
	background: #62C3D0;
	color: #fff;
	opacity: 0.7;
}

.id_active {
	background: #62C3D0;
	color: #fff;
	opacity: 0.7;
}

.test_active_option{
	/*border:1px solid #62C3D0;color:#62C3D0;*/
	background:#62C3D0;
	color:#fff;
}


.desc_pic{
	width:50%;
	height:auto;
	display: block;
	margin:0 auto;
}

.desc_title{
	width:92%;
	height:30px;
	line-height: 30px;
	font-size: 18px;/*lx for first for desc*/
	color:#353535;
	text-align: center;
	letter-spacing: 2px;
	/*font-family: 'PingFang-SC-Bold';*/
	margin:20px auto 0;
}

.icon{
	width:80px;
	height:auto;
	margin:20px 0 0 4%;
}

.desc_info{
	width:92%;
	height:auto;
	margin:10px auto;
	color:#353535;
	font-size: 15px;/*lx for first for desc*/
	text-indent: 24px;
}

.pay_btn{
	width:205px;
	height:35px;
	margin:30px auto 0;
	display: block;
	cursor: pointer;
	/*position:fixed;
	left:50%;
	bottom:0;
	margin-left:-102px;*/
}

.progress_box{
	width:94%;
	height:30px;
	margin:30px auto 40px;
}

.count_time{
	width:auto;
	height:28px;
	display: block;
	border:1px solid #b2b2b2;
	float: right;
	text-align: center;
	line-height:28px;
	color:#353535;
	font-size: 12px;
	border-radius: 5px;
	padding:0 5px;
}

.test_btn{
	width:230px;
	word-break: normal;
	word-wrap: break-word;
	white-space: normal;/*lx for fifth*/
	border-radius: 10px;
	margin:55px auto;/*lx for second*/
	display:block;
	height:auto;
}

.test_num{
	width:auto;
	height:30px;
	line-height: 30px;
	color: #353535;
	font-size: 14px;/*lx for first*/
	float: left;
	display: block;
}

.progress{
	width:50%;
	height:10px;
	margin:10px;
	background: #dadada;
	float:left;
	position: relative;
}

.progress_color{
	width:auto;
	display: inline-block;
	height:inherit;
	background:#62c3d0;
	position:absolute;
	left:0;
	top:0;
}

.progress >img{
	width:30px;
	height:50px;
	position:absolute;
	left:0;
	top:-25px;
}

.question{
	width:76%;
	height:auto;
	margin:20px auto 40px;
	color:#353535;
	font-size: 17px;/*lx for first*/
	clear: both;
}

.next{
	width:230px;
	height:auto;
	margin:40px auto 0;
	color:#fff;
	background: #62C3D0;
	font-size: 16px;/*lx for first*/
	border-radius: 10px;
	/*clear: both;*/	
	letter-spacing: 2px;
	display: block;
}

.submit_box{
	width:230px;
	height:auto;
	margin:40px auto;
}

.next_small{
	width:100px;
	height:auto;
	color:#fff;
	background: #62C3D0;
	font-size: 12px;
	border-radius: 10px;
	/*clear: both;*/	
	letter-spacing: 2px;
	display: block;
	float: left;	
}

.test_promat{
	width:76%;
	height:400px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-200px 0 0 -38%;
	background: #fff;
	border-radius: 7px;
}

.title_promat{
	width:100%;
	height:130px;
	background: #63c3d1;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.title_promat > img{
	width:100%;
	height:auto;
	
}

.title_promat > .title{
	width:100%;
	height:40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;/*lx for first*/
	color: #fff;
} 

.test_info{
	width:80%;
	height:auto;
	margin:30px auto;
	color:#353535;
	font-size: 16px;/*lx for first*/
}

.start_btn{
	width:120px;
	height:38px;
	background: #acce22;
	border:none;
	color: #fff;
	display: block;
	margin:0 auto;
	font-size: 16px;/*lx for first*/
}

.report_box{
	width:86%;
	height:auto;
	min-height:200px;
	background: #e7f9fb;
	margin:22px auto;
	border: 1px solid #63c3d1;
	position:relative;
}


.mui-segmented-control{
	border:none;
	border-radius: 0;
}
.mui-segmented-control .mui-control-item{
	background: #63c3d1;
	color:#fff;
	border-left:1px solid #fff;
}

.mui-segmented-control .mui-control-item.mui-active{
	background: #e7f9fb;	
	color:#63c3d1;
}

.key_list{
	width:275px;
	height:auto;
	margin:30px auto;
}

.key_list > li{
	width:100%;
	height:45px;
	background: #dff8fc;
	border:1px solid #cbecf1;
	margin-bottom: 12px;
}

.key_list > li > .key_title{
	width:45px;
	height:45px;
	line-height: 45px;
	text-align: center;
	float: left;
	font-size: 24px;
	color: #62c4d1;
	border-right:1px solid #cbecf1;
}

.key_list > li > .key_text{
	width:auto;
	height:45px;
	line-height: 45px;
	/*text-align: center;*/
	float: left;
	font-size: 14px;
	padding:0 14px;
	color: #62c4d1;
	/*border-right:1px solid #cbecf1;*/
}

.point_box{
	width:81%;
	height:auto;
	border:1px solid #cbecf1;
	margin:30px auto 10px;
	background: #dff8fc;
}

.point_box>p{/*lx for first for report*/
	font-size: 15px;
}

.sum_point{
	width:auto;
	height:auto;
	padding:8px 0 0 14px;
	color:#353535;
}

.point_desc{
	width:auto;
	height:auto;
	padding:8px 0 0 14px;
	color:#353535;	
}

.point_list{
	width:79%;
	height:auto;
	margin:0 auto;
}

.point_list > li{
	width:100%;
	height:30px;
	line-height:30px;
	/*color:#353535;*/
}
.left{
	width:auto;
	height: inherit;
	color: #62c3d0;
	float:left;
}

.point_info{
	width:80%;
	height:auto;
	margin:30px auto;
	line-height: 24px;
	color:#353535;
}

.suc{
	width:90%;
	height:auto;
	margin:30px auto;
	color:#353535;
	line-height:25px;
	font-size:16px;/*lx for first for report*/
}

.tip_bg{
	width:auto;
	height:auto;
	background: #acce22;
	color:#fff;
	padding:3px 6px;
	display: inline-block;
	margin:0 0 30px 5%;
}

.method_box{
	width:86%;
	height:auto;
	margin:0 auto 30px;
	padding:10px 2%;
	/*line-height: px;*/
	border:1px solid #cbecf1;
	background: #dff8fc;
	color:#353535;
}

@media screen and (min-width: 800px) {
	.user_info_title {
		width: 77%;
		height: 220px;
		margin: 48px auto 20px;
		color: #353535;
		font-size: 28px;
		text-indent: 56px;
		position: relative;
		line-height: 40px;
	}
	.user_info_title>img {
		width: 74px;
		height: 74px;
		position: absolute;
		top: -40px;
		left: -30px;
	}
	.sex_box {
		width: 77%;
		height: 260px;
		margin: 0 auto;
	}
	.sex_box>li {
		width: 230px;
		height: 230px;
		border-radius: 230px;
		background: #fff;
		float: left;
		box-shadow: 0 0 10px #ccc;
	}
	.sex_box>li>img {
		width: 88px;
		height: 170px;
		display: block;
		margin: 30px auto;
	}
	
	.user_btn {
		display: block;
		font-size: 28px;
		background: #62C3D0;
		color: #fff;
		border: none;
		margin: 20px auto;
		padding: 8px 20px;
	}
	
	.desc_info{
		width:92%;
		height:auto;
		margin:20px auto;
		color:#353535;
		font-size: 26px;/*lx for first for desc*/
		text-indent: 48px;
		line-height: 40px;
	}	
	
	.desc_title{
		width:92%;
		height:60px;
		line-height: 60px;
		font-size: 34px;/*lx for first for desc*/
		color:#353535;
		text-align: center;
		letter-spacing: 2px;
		/*font-family: 'PingFang-SC-Bold';*/
		margin:40px auto 0;
	}
	
.test_promat{
	width:76%;
	height:720px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-360px 0 0 -38%;
	background: #fff;
	border-radius: 14px;
}

.title_promat{
	width:100%;
	height:260px;
	background: #63c3d1;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.title_promat > img{
	width:100%;
	height:auto;
	
}

.title_promat > .title{
	width:100%;
	height:80px;
	line-height: 80px;
	text-align: center;
	font-size: 34px;/*lx for first*/
	color: #fff;
} 

.test_info{
	width:80%;
	height:auto;
	margin:30px auto;
	color:#353535;
	font-size: 30px;/*lx for first*/
	line-height: 42px;/*lx for first*/
}

.start_btn{
	width:240px;
	height:76px;
	background: #acce22;
	border:none;
	color: #fff;
	display: block;
	margin:0 auto;
	font-size: 16px;/*lx for first*/
}

}

.imgs{
	width:100%;
	height:auto;
}

.r_btn{
	width:60%;
	height:42px;/*lx for first for report*/
	margin:40px auto;
	display: block;
	background: #62c3d0;
	color:#fff;
	border:none;
	letter-spacing: 1px;
	font-size: 16px;/*lx for first for report*/
}

.r_title{
		/*width:auto;*/
	width: 200px;
	height:30px;
	line-height: 30px;
	/*padding:5px 10px;*/
	font-size: 16px;/*lx for first-report*/
	color:#fff;
	background: #62c3d0;
	margin:20px auto;
	text-align: center;
}

.r_banner{
	width:90%;
	height: auto;
	margin:0 auto;
	display: block;
}

.r_desc{
	width:86%;
	height:auto;
	margin:20px auto;
	text-indent: 2em;
	line-height: 26px;/*lx for first for report*/
	font-size: 16px;/*lx for first-report*/
}

.title1{
	width:100px;
	height:27px;/*lx for first-report*/
	line-height: 27px;/*lx for first-report*/
	font-size: 15px;
	background: #63c3d1;
	color:#fff;
	text-align: center;
	position: absolute;
	left:50%;
	top:-13px;
	margin-left:-50px;
}


.pay_button{
	width:220px;/*lx for first for desc*/
	height:40px;
	line-height: 40px;
	background: #a5e24d;
	text-align: center;
	color: #fff;
	/*position:fixed;
	left:0;
	bottom:0;*/
	font-size: 16px;/*lx for first for desc*/
	letter-spacing: 1px;
	border-radius: 30px;
	margin:0 auto;
}


