.user_info{
	width:100%;
	height:110px;
	background: #62c3d0;
}

.headpic{
	width:80px;
	height:80px;
	border-radius: 80px;
	margin:15px 4% 0 23%;
	float:left;
}

.user_line{
	width:1px;
	height:32px;
	background: #fff;
	float:left;
	margin:39px 4% 0 0%;
}

.user_name{
	width:auto;
	height:40px;
	margin:35px 0 0 0;
	float:left;
	color:#fff;
	font-size: 15px;/*lx for first for user.index*/
}

.user_name span{
	display: block;
	/*margin-bottom:20px;*/
}	

.mui-segmented-control{
	border:none;
	background: #fbfbfb;
	font-size: 14px;/*lx for first for user.index*/
	border-bottom:2px solid #efefef;
}

.mui-segmented-control .mui-control-item {
	color:#888;
	border-color:#ccc;
}

.mui-segmented-control .mui-control-item.mui-active{
	background: #fff;
	color:#acce22;
	border-bottom:none;
}

.wait_btn{
	float:right;
	background: #fff;
	color: #62c3d0;
	border-color:#62C3D0;
	border-radius: 5px;
	/*padding:5px 10px;*/
	display: block;
	margin:33px 0 0 0;
	font-size: 16px;/*lx for first for user.index*/
}

@media screen and (min-width: 800px){
	.user_info{
		height:220px;
		background: #62c3d0;
	}

	.headpic{
		width:160px;
		height:160px;
		border-radius: 160px;
		margin:30px 4% 0 23%;
		float:left;
	}
	
	.user_line{
		width:1px;
		height:64px;
		background: #fff;
		float:left;
		margin:78px 4% 0 0%;
	}
	
	.user_name{
		width:auto;
		height:60px;
		margin:80px 0 0 0;
		float:left;
		color:#fff;
		font-size: 24px;/*lx for first for user.index*/
	}
	
	.user_name span{
		display: block;
		margin-bottom:20px;
	}	
}